<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Om</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <nav>
    <a href="/">Visa kurser</a>
    <a href="/add-course">Lägg till kurs</a>
    <a href="/about">Om</a>
  </nav>
  <h1>Om</h1>

  <p>Denna webbplats är utvecklad för att tillhandahålla ett användarvänligt gränssnitt för kursadministration, där användare kan lägga till, visa och ta bort kurser. Webbplatsen är byggd med syftet att förenkla hanteringen av kursdata och göra det enkelt att organisera och uppdatera information om olika kurser.

    Webbplatsen använder en MySQL-databasserver som backend för lagring och hantering av kursinformation.</p>
</body>

</html>