<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Om</title>
  <link rel="stylesheet" type="text/css" href="/style.css"> </head>
<body>
  <nav>
    <a href="/">Visa kurser</a>
    <a href="/add-course">Lägg till kurs</a>
    <a href="/about">Om</a>
  </nav>
  <h1>Om</h1>

  <p>Denna webbplats är skapad för att visa mina kurser.</p>
</body>
</html>